@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: "Outfit", sans-serif;

  --primary-color: #f8fafc;
  /* Slate 50 */
  --secondary-color: #3b82f6;
  /* Blue 500 */
  --darker-secondary-color: #2563eb;
  /* Blue 600 */
  /* --darker-secondary-color: #ec816b; */
  --white-color: #ffffff;
  --gray-color: #0f172a;
  /* Slate 900 */
  --light-gray: #64748b;
  /* Slate 500 */
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* box-shadow: inset 0 0 5px grey;  */
  background: var(--darker-secondary-color);
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: var(--light-gray);
} */

* {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* cursor: none; */
}

@layer components {
  .filterInput {
    @apply outline-none w-full bg-[color:var(--white-color)] rounded-lg border-b pl-4 py-3 lg:pl-6 lg:py-4 placeholder-black transition-all !shadow-md;
  }

  .adminDropDownInput {
    @apply outline-none w-full bg-[color:var(--primary-color)] mt-1 rounded-lg border-b pl-4 py-3 lg:pl-4 lg:py-3 placeholder-black transition-all !shadow-md;
  }
}

@layer utilities {
  .rtl {
    direction: rtl;
  }
}

[x-cloak=""] {
  display: none;
}